@import url(./vendor/fonts.css);

:root {
    --background: #a41a30;
    --menu-color: #e89e45;
    --card-color: #192420;
    --font-color: rgb(218, 218, 218);

    --btn-font: #8a070c;
    --btn-color: #a41a30;

    --error-color: #ff0004;

    --slider-transf: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/mainphon.jpg);

    height: 100vh;
    width: 100%;

    background-color: var(--background);
    overflow-x: hidden;

    position: relative;
}

.wrapper {
    width: 1600px;
    height: 100%;
}

header {
    width: 100%;
    height: 64px;

    display: flex;
    justify-content: center;
}

header .wrapper {
    display: flex;
}

.head-nav {
    flex-grow: 1;
    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    height: min-content;

    display: flex;
    gap: 16px;
}

.menu img {
    width: 40px;
    height: 40px;

    transition: transform 0.3s;
}

.nav-link {
    background-color: var(--menu-color);
    padding: 8px 24px;
    border-radius: 40px;

    text-decoration: none;
    font-family: 'Figtree';
    font-size: 18px;
    color: var(--font-color);
    font-weight: 600;
    letter-spacing: -0.01em;

    transition: 0.3s;
}

.nav-reverse {
    background-color: var(--font-color);
    color: var(--btn-font);
}

.nav-link:hover {
    background-color: var(--font-color);
    color: var(--btn-font);
}

#account-btn {
    font-family: 'Inter';
}

#account:hover .user-img {
    transform: rotate(-30deg);
}

main {
    height: min-content;
    width: 100%;
    padding-top: 35px;

    display: flex;
    flex-direction: column;
    gap: 80px;
}

.title-sect {
    width: 100%;
    height: min-content;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title-sect .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-family: 'Figtree';
    font-size: 210px;
    font-weight: 600;
    color: var(--font-color);
    letter-spacing: -0.03em;
}

.main-sect {
    width: 100%;
    height: min-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.main-body {
    width: 100%;
    padding: 48px;

    background-color: var(--card-color);
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    gap: 48px;

    position: relative;
    overflow: hidden;
}

.corner-img {
    position: absolute;

    width: 500px;
    height: 500px;

    left: 75%;
    top: 20%;

}

.main-text {
    width: 70%;
    height: min-content;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-text h1 {
    font-family: 'Figtree';
    font-size: 64px;
    font-weight: 600;
    color: var(--font-color);
    letter-spacing: -0.04em;
    line-height: 1.1em;
}

.main-text p {
    font-family: 'Figtree';
    font-size: 24px;
    font-weight: 400;
    color: var(--font-color);
    letter-spacing: -0.02em;
    line-height: 1.5em;
    width: 70%;
}

.main-button {
    display: flex;
    align-items: center;
    gap: 16px;

    background-color: var(--btn-color);
    border-radius: 40px;
    padding: 16px 32px;

    width: min-content;
    text-decoration: none;
}

.main-button p {
    width: 90px;

    font-family: 'Figtree';
    font-size: 18px;
    font-weight: 700;
    color: var(--btn-font);
    letter-spacing: -0.02em;
    line-height: 1.6em;
}

.arrow-img {
    transition: transform 0.3s;
}

.main-button:hover .arrow-img {
    transform: rotate(45deg);
}

.example-box {
    width: 100%;
    height: 620px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 40px;
}

.example-img {
    border-radius: inherit;
    object-fit: cover;

    width: 100%;
    height: 100%;
}

.notes-cont {
    width: 100%;
    height: 155px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.note-box {
    display: flex;
    gap: 20px;
    flex: 1 0 0px;
    align-self: stretch;

    width: 1px;
    height: 100%;

    background-color: var(--card-color);
    border-radius: 40px;
    padding: 32px 48px 32px 32px;
}

.note-box:hover>.note-img img {
    transform: translateY(-8px);
}

.note-img {
    width: 72px;
    height: 72px;

    background-color: var(--background);
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.note-img img {
    transition: transform 0.2s;
}

.note-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0px;
    gap: 2px;

    width: 1px;
    height: min-content;
}

.note-text h3 {
    font-family: 'Figtree';
    font-size: 18px;
    font-weight: 700;
    color: var(--font-color);
    letter-spacing: -0.02em;
    line-height: 1.6em;
}

.note-text p {
    font-family: 'Figtree';
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color);
    letter-spacing: -0.02em;
    line-height: 1.6em;
}

.info-sect {
    width: 100%;
    height: min-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ui-info {
    display: flex;
    gap: 20px;
}

.interface-cont {
    width: 530px;
    height: 723px;

    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.interface-cont img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: inherit;
}

.subject-cont {
    display: flex;
    flex-direction: column;
    flex: 2 0 0px;
    gap: 20px;
}

.above-sub {
    min-width: 100%;
    height: min-content;

    background-color: var(--card-color);
    border-radius: 40px;
    padding: 48px;

    display: flex;
    flex-direction: column;
    gap: 80px;

    position: relative;
    overflow: hidden;
}

.below-sub {
    width: 100%;
    height: min-content;

    display: flex;
    align-items: center;
    gap: 20px;
}

.above-title {
    width: 100%;
    height: min-content;

    display: flex;
    flex-direction: column;
    gap: 8px;
}


.above-title h2 {
    font-family: 'Figtree';
    font-size: 64px;
    font-weight: 600;
    color: var(--font-color);
    letter-spacing: -0.04em;
    line-height: 1.1em;
}

.above-title p {
    font-family: 'Figtree';
    font-size: 24px;
    font-weight: 400;
    color: var(--font-color);
    letter-spacing: -0.02em;
    line-height: 1.3em;
}

.above-text {
    width: 70%;
}

.above-text p {
    font-family: 'Figtree';
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color);
    letter-spacing: -0.02em;
    line-height: 1.6em;
}

.subject-img {
    width: 280px;
    height: 280px;

    transform: rotate(-45deg);

    left: 82%;
    bottom: 27%;

    position: absolute;
}

.below-sub-box {
    height: min-content;

    background-color: var(--card-color);
    border-radius: 40px;
    padding: 48px;

    display: flex;
    flex: 1 0 0px;
}

.below-text {
    width: 100%;
    height: min-content;

    display: flex;
    flex-direction: column;
    gap: 80px;
}

.below-text h3 {
    font-family: 'Figtree';
    font-size: 32px;
    font-weight: 600;
    color: var(--font-color);
    letter-spacing: -0.04em;
    line-height: 1.2em;
}

.below-text p {
    font-family: 'Figtree';
    font-size: 16px;
    font-weight: 400;
    color: var(--font-color);
    letter-spacing: -0.02em;
    line-height: 1.6em;
}

.quest-info {
    width: 100%;
    height: min-content;

    background-color: var(--card-color);
    border-radius: 40px;
    padding: 48px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quest-text {
    display: flex;
    align-items: center;
}

.quest-text h3 {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    color: var(--font-color);
    letter-spacing: -0.01em;
    line-height: 1.2em;
}

.accordion-sect {
    width: 100%;
    height: min-content;

    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-sect .wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.accordion-title h2 {
    font-family: 'Figtree';
    font-size: 64px;
    font-weight: 600;
    color: var(--font-color);
    letter-spacing: -0.04em;
    line-height: 1.2em;
}

.accordion {
    width: 100%;
    height: min-content;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-height);
    gap: 20px;
}

.content-box {
    background: var(--card-color);
    border-radius: 24px;
    padding: 24px 40px;

    display: flex;
    flex-direction: column;
    height: min-content;

    transition: 0.5s;
}

.content-box .label {
    width: 100%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-box .label h4 {
    font-family: 'Figtree';
    font-size: 24px;
    font-weight: 700;
    color: var(--font-color);
    letter-spacing: -0.02em;
    line-height: 1.5em;
}

.content-box .label img {
    width: 24px;
    height: 24px;

    transition: 0.5s;
}

.content-box .accordion-info {
    padding: 0 0 0 0;

    height: 0;
    overflow: hidden;

    transition: 0.5s;
}

.content-box .accordion-info p {
    font-family: 'Figtree';
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color);
    letter-spacing: -0.02em;
    line-height: 1.6em;
}

.label.active~.accordion-info {
    height: 152px;
    padding: 40px 0 0 0;
}

.label.active img {
    transform: rotate(45deg);
}

footer {
    width: 100%;
    height: min-content;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 128px;
    margin-bottom: 15px;
}

.footer-info {
    width: 100%;
    height: min-content;

    background-color: var(--card-color);
    border-radius: 40px;
    padding: 24px 48px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.copyright-cont {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: relative;
}


.copyright-cont p {
    font-family: 'Figtree';
    font-size: 14px;
    font-weight: 600;
    color: var(--font-color);
    letter-spacing: -0.04em;
    line-height: 1.2em;
}

.copyright-cont img {
    width: 20px;
    height: 20px;

    position: absolute;
    left: 56%;
    bottom: -3px;
}

.contacts-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    column-gap: 60px;
    row-gap: 10px;
}

.contacts-cont .contact-box {
    width: 40%;
    height: min-content;
}

.contacts-cont .contact-box.social {
    justify-self: end;
}

.contacts-cont h4 {
    font-family: 'Figtree';
    font-size: 24px;
    font-weight: 600;
    color: var(--font-color);
    letter-spacing: -0.04em;
    line-height: 1.2em;
}

.contacts-cont p {
    font-family: 'Figtree';
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color);
    letter-spacing: -0.02em;
    line-height: 1.6em;
}

.link-box {
    width: min-content;

    position: relative;
}

.contact-box a {
    text-decoration: none;

    font-family: 'Figtree';
    font-size: 18px;
    font-weight: 600;
    color: var(--font-color);
    letter-spacing: -0.02em;
    line-height: 1.6em;
}

.contact-box a::before {
    content: '';
    position: absolute;

    background-color: var(--font-color);
    min-width: 0;
    min-height: 3px;
    border-radius: 5px;

    bottom: 0;

    transition: 0.3s;
}

.contact-box a:hover::before {
    min-width: 100%;
}